# reverse logic .gitignore file
# remove everything
/*
# add content
!.gitignore
!README.md
!terminalthemes.txt
!nvim/
!tmux/
!zsh/

# remove unneeded zsh files
zsh/setup/.zcomp*
zsh/plugins/
zsh/themes/
zsh/.zsh_history
# remove unneeded tmux folders/files
tmux/plugins/
