@define-color background rgba (0, 0, 8, .7);

* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family: "FiraCode Nerd Font", sans-serif;
  font-size: 16px;
  transition: background-color .3s ease-out;
}

window#waybar {
  background: transparent;
  color: #c0caf5;
  transition: background-color .5s;
}

/* main modules */
.modules-left,
.modules-center,
.modules-right {
  margin: 5px 10px;
  border-radius: 15px;
  padding: 0 10px;
}

.modules-right {
  padding: 0;
}

.modules-left {
  padding: 0;
}

.modules-center {
  background: @background;
}

#audio,
#hardware-capacity,
#hardware-temperature {
  padding: 5px 10px;
  border-radius: 15px;
  background: @background;
}

#audio {
  padding-left: 15px;
}

#hardware-temperature {
  padding-right: 20px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
  padding: 0 10px;
  border-radius: 15px;
}

#workspaces button {
  background: transparent;
  font-weight: 900;
  font-size: 13pt;
  color: #c0caf5;
  border: none;
  border-radius: 15px;
}

#workspaces button.active {
  background: #13131d;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  box-shadow: none;
}

#custom-nixos {
  margin-left: 5px;
  padding: 0 10px;
  font-size: 25px;
  transition: color .5s;
}

#custom-nixos:hover {
  color: #5277C3;
}
